.children-container {
    flex: 1 1 auto;
    padding: 1rem;
    margin: 3rem 5rem 3rem 5rem; /* top right bottom left */
    font-family: monospace;
}

.page-container > *:not(.children-container) {
    /* header & footer */
    flex: 0 1 auto;
}

.page-container {
    display: flex;
    flex-direction: column;
}

#root, .page-container {
    height: 100%;
    background-image: url("/Dotted_Background.png");
}