.home-main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home-intro {
  width: 100%;
}

.intro-name {
  font-size: 125px;
  font-weight: 100;
}

.home-socials-container {
  display: flex;
  margin-top: 5rem;
  font-size: 1.5rem;
}

.home-social {
  display: flex;
  margin-right: 3rem;
  flex-direction: row;
}

.social-icon {
  color: #5867cd;
}

.social-label {
  margin-left: 0.5rem;
}

h3 {
  font-size: 50px;
  font-weight: 100;
}

h4 {
  font-size: 30px;
}